@use "./variables";

.card{
  background-color: variables.$light-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius:12px;
  gap: 16px;
  padding: 24px 24px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
  &-airline
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    img{
      width: 100px;
      // height: 20px;
      // object-fit: contain;
    }
  }

  &-customer{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
  }
}