@use "./variables";

.home{
  background-color: variables.$gray-color;
  min-height:100vh;
}

.card-container{
  width:100%;
  background-color: variables.$gray-color;
  padding: 16px 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @include variables.for-medium-screen {
    grid-template-columns: 1fr 1fr;
  }
}

.loading{
  padding: 16px 24px;
}