@use "./variables";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  width: 100%;
  background-color: variables.$gray-color;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 24px 20px;
  justify-content: space-between;

  @include variables.for-large-screen {
    padding: 24px 40px;
  }

  .logo {
    font-size: 24px;
    color: variables.$dark-color;
    font-weight: 700;
  }

  &__menu {
    display: none;
    gap: 48px;
    font-size: 16px;
    color: variables.$primary-color;

    @include variables.for-large-screen {
      display: flex;
    }

    .active {
      color: variables.$primary-color;
      cursor: pointer;
      text-decoration: none;
    }

    .inactive {
      color: variables.$dark-color;
      cursor: pointer;
      text-decoration: none;
    }
  }

  &__btns {
    display: flex;
    gap: 16px;

    .select {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4px 12px;
      border: 1px solid variables.$primary-color;
      border-radius: 32px;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      -ms-border-radius: 32px;
      -o-border-radius: 32px;

      @include variables.for-medium-screen {
        padding: 6px 24px;
      }

      @include variables.for-large-screen {
        padding: 6px 24px;
        font-size: 16px;
      }

      select {
        font-size: 10px;
        border: none;
        background: transparent;
        height: 100%;
        outline: none;
        color: variables.$primary-color;
        cursor: pointer;

        @include variables.for-large-screen {
          font-size: 14px;
        }
      }
    }

    &--btn-1 {
      @include variables.buttonFilled(variables.$light-color,
        20px,
        12px,
        16px,
        variables.$primary-color);

      @include variables.for-medium-screen {
        @include variables.buttonFilled(variables.$light-color,
          32px,
          16px,
          24px,
          variables.$primary-color);
      }

      @include variables.for-large-screen {
        display: none;
      }
    }

    &--btn-2 {
      display: none;

      @include variables.for-medium-screen {
        display: block;
        @include variables.buttonFilled(variables.$primary-color,
          32px,
          16px,
          16px,
          variables.$light-color);
      }

      @include variables.for-large-screen {
        @include variables.buttonFilled(variables.$primary-color,
          32px,
          16px,
          16px,
          variables.$light-color);
      }
    }
  }
}